body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
	   background-color: white;
}
.column {
    float: left;
    width: 45%;
	height : 273%;
	
	display: grid;
  grid-template-rows: 570px 250px;

	
    }
	.row {
		
		margin-left:150px;
		width : 90%;
		height: 30%;
	
		
	}

#container{
    background-color: white;
}
.left-pane{
    background-color: white;
    width: 60vw;
    height: 15vh;
    padding-left: 20px;
    padding-right: 20px;
}

.login{
    background-color: white;
    width: 20vw;
    height: 15vh;
    padding-left: 20px;
    padding-right: 20px;
	margin: 0 auto;
}

.logo{
    width: 100%;
    padding-top: 30px;
    margin: 0 auto;
}

#img-container{
    max-width: 10%;
    max-height: 10%;
}

.loginContainer{
    margin-top: 20vh;
}

#headingText{
    font-size: 1.5rem;

}
#highlighted{
    color: #099dfd;
}

#email{
    margin-top: 20px;
}

input{
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    font-size: 1.25rem;
    border: 2px solid #099dfd;
    border-radius: 5px;
}
.submitButton{
    background-color: #099dfd;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 10px;
}

#flexContainer{
    display: flex;
    flex-direction: row;
	
}

#left-side{
	
    flex: 1;
    text-align: center;
  background-color: #099dfd;
  box-shadow: 2px 2px 4px #e0dbdb;

}

#right-side{
    flex: 1;
    box-shadow: 3px 2px 4px #cec6c6;
}


#circleContainer{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    width: 450px;
    height: 450px;
    border-radius: 1000px;
    background-color: #ffffff4b;
    justify-items: center;
    margin-bottom: 10px;
}

#illustration{
	display: flex;
    max-width: 100%;
    max-height: 100%;
}

#illustrationContainer{
	display: flex;
    width: 500px;
    margin: auto;
    padding-bottom: 45px;
}

#bottomText{
    font-size: 1.50rem;
    color: white;
}
